<div class="recipe">

  <a href="recipes/{{this.id}}"><img src="{{this.image}}" /></a>
  <div class="recipe-info">
    <h2>{{this.title}}</h2>
    <div id="buttons"> 
      <a href="/recipes/{{this._id}}">See recipe</a>
      <form action="/recipes/{{this._id}}/delete" method="post">
        <button class="delete-button" type="button"><img src="/images/trash-icon-20.png" alt="trash icon"/></button>
      </form>
      <a href="/recipes/{{this._id}}/update">
        <img src="/images/edit-icon-20.png" alt="edit icon" />
      </a>
      <form class="favorites-form" action="/users/{{@root.currentUser._id}}/favorites" method="post">
        <input type="hidden" name="recipeId" value="{{this._id}}">
        <button class="favorite-button" type="submit"><img src="/images/heart-icon-outline-20.png" alt="outlined heart icon" /></button>
      </form>
    </div>
    <ul>
      {{#each this.ingredients}}
      <li>{{this.ingredient.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>

