<main id="recipe">

  <h1>{{recipe.title}}</h1>
  <a href="{{recipe.id}}/update">
    <img src="/images/edit-icon-20.png" alt="Edit icon" />
  </a>
  <form action="{{recipe.id}}/delete" method="post">
    <input type="image" type="submit" name="delete" src="/images/trash-icon-20.png" />
  </form>

  <div class="recipe-card">
    <div class="recipe-image-container">
      <img class="recipe-image" src="{{recipe.image}}" />
    </div>
    <div>
      <span><strong>Ingredients</strong></span>
      <div class="ingredient-list">
        {{#each recipe.ingredients}}
        {{this.ingredient.name}}
        {{this.amount}}
        {{this.unit}}
        {{/each}}
      </div>
      <span><strong>Instructions</strong></span>
      <div class="instructions">
        {{#each recipe.instructions}}
        {{this.number}}
        {{this.step}}
        {{/each}}
      </div>
    </div>
  </div>
</main>