<main id="recipe">

  <h1>{{title}}</h1>

  <div class="recipe-detail">
    <img class="recipe-image"
      src="{{#if recipe.image}}{{recipe.image}}{{else}}/images/food-placeholder.jpg{{/if}}" />
    <div>

    <div class="edit-delete-buttons
        {{#ifNotEqualStrings recipe.user._id @root.currentUser._id}}hidden{{/ifNotEqualStrings}}">
        <form action="/recipes/{{recipe._id}}/delete" method="post">
      <form action="/recipes/{{recipe.id}}/delete" method="post">
        <button class="delete-button" type="button">
          <img src="/images/trash-icon.png" alt="trash icon"/></button>
      </form>
      <a href="/recipes/{{recipe.id}}/update">
        <img src="/images/edit-icon.png" alt="edit icon" />
      </a>
    </div>

      <span><strong>Ingredients</strong></span>
      <div class="ingredient-list">
        <ul>
          {{#each recipe.ingredients}}
            <li>
              {{this.ingredient.name}}
              {{this.amount}}
              {{this.unit}}
            </li>
          {{/each}}
        </ul>
      </div>
      <span><strong>Instructions</strong></span>
      <div class="instructions">
        <ul>
          {{#each recipe.instructions}}
            <li>
              {{this.number}}
              {{this.step}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</main>
  
{{#each messages}}
<div id="message">{{this}}</div>
{{/each}}

{{#if error}}
<div id="error-message">{{error}}</div>
{{/if}}

{{> confirm_on_delete}}
