<main id="recipe">

  <h1>{{recipe.title}}</h1>
  <a href="/recipes/{{recipe.id}}/update">
    <img src="/images/edit-icon-20.png" alt="edit icon" />
  </a>
  <form action="/recipes/{{recipe.id}}/delete" method="post">
    <button class="delete-button" type="button"><img src="/images/trash-icon-20.png" alt="trash icon"/></button>
  </form>
  <div class="recipe-card">
    <div class="recipe-image-container">
      <img class="recipe-image" src="{{recipe.image}}" alt="recipe image"/>
    </div>
    <div>
      <span><strong>Ingredients</strong></span>
      <div class="ingredient-list">
        <ul>
          {{#each recipe.ingredients}}
            <li>
              {{this.ingredient.name}}
              {{this.amount}}
              {{this.unit}}
            </li>
          {{/each}}
        </ul>
      </div>
      <span><strong>Instructions</strong></span>
      <div class="instructions">
        <ul>
          {{#each recipe.instructions}}
            <li>
              {{this.number}}
              {{this.step}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</main>
  
{{#each messages}}
<div id="message">{{this}}</div>
{{/each}}

{{#if error}}
<div id="error-message">{{error}}</div>
{{/if}}

{{> confirm_on_delete_script}}
