<main id="recipes">

  <h1>Recipes</h1>

  <div id="recipe-list">
    {{#each recipes}}
      <div class="recipe">
        <img src="{{this.image}}" />
        <div class="recipe-info">
          <h2>{{this.title}}</h2>
          <ul>
            {{#each this.ingredients}}
              <li>{{this.ingredient.name}}</li>
            {{/each}}
          </ul>
          <div id="buttons"> 
            <a href="recipes/{{this.id}}">See recipe</a>
            <a href="recipes/{{this.id}}/update">Update</a>  
            <form action="recipes/{{this.id}}/delete" method="post">
              <input class="button" type="submit" value="Delete" />
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</main>
