<main id="recipes">

  <h1>Recipes</h1>

  <div id="recipe-list">
    {{#each recipes}}
    <div class="recipe">
      <img src="{{this.image}}" />
      <div class="recipe-info">
        <h2>{{recipe.title}}</h2>
        <ul>
          {{#each recipe.ingredients}}
          <li>{{this.name}}</li>
          {{/each}}
        </ul>
        <div id="buttons"> 
          <form action="recipe/{{this.id}}" method="get">
            <input class="button" type="submit" value="See recipe" />
          </form>
          <form action="recipe/{{this.id}}/update" method="get">
            <input class="button" type="submit" value="Update" />
          </form>     
          <form action="recipe/{{this.id}}/delete" method="post">
            <input class="button" type="submit" value="Delete" />
          </form>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</main>
