<main id="update-recipe">

  <h1>Update recipe</h1>

  <form action="/recipes" method="post">
    <label for="title">Title:</label><br>
    <input type="text" name="title" value="{{recipe.title}}"><br>

    <label for="image">Image:</label><br>
    <input type="text" name="image" value="{{recipe.image}}"><br>

    <div id="ingredient">

      {{recipe.ingredients.[0].ingredient}}

      <label for="ingredient">Ingredient:</label><br>
      <select name="ingredient">
          <option value="{{recipe.ingredients.[0].ingredient._id}}" selected>--Please choose an ingredient--</option>
          {{#each ingredients}}
            <option value={{this._id}}>{{this.name}}</option>
          {{/each}}
          <option value={{recipe.ingredients.[0].ingredient._id}} selected>{{recipe.ingredients.[0].ingredient.name}}</option>
      </select><br>

      {{#each recipe.ingredients}}
      <label for="amount">Amount:</label><br>
      <input type="number" name="amount" value="{{this.amount}}"><br>

      <label for="unit">Unit:</label><br>
      <input type="text" name="unit" value="{{this.unit}}"><br>

      <button>Remove ingredient</button>
      {{/each}}
    </div>

    <button class="button" type="submit">Submit</button>
  </form>

</main>