<main id="user">
  <h1>User profile</h1>
  <form action="{{user.id}}/update" method="post">
    <label for="username">User:</label><br>
    <input type="text" name="username" value="{{user.username}}"><br>
    <p>Created at: {{user.created_at}}</p>
    <p>Updated at: {{user.updated_at}}</p>
    <button class="button" type="submit">Save</button>
    <form action="{{user.id}}/delete" method="post">
      <input type="image" type="submit" name="delete" src="/images/trash-icon-20.png" />
    </form>
  </form> 
    <br>
  <form action="/" method="post"></form>
    <h2>Change password:</h2>
    <label for="current-password">Current password:</label><br>
    <input type="password" name="current-password" placeholder="**********"><br>
    <label for="new-password">New password:</label><br>
    <input type="password" name="new-password" placeholder="**********"><br>
    <label for="confirm-password">Confirm new password:</label><br>
    <input type="password" name="confirm-password" placeholder="**********"<br>
    <button class="button" type="submit">Change password</button>
    {{!-- <form action="{{user.id}}/change-password" method="post">
      <input type="image" type="submit" name="change-password" src="/images/trash-icon-20.png" />
    </form> --}}
  </form>
</main>