<main id="user">

  <h1>{{title}}</h1>

  <form action="{{user.id}}/delete" method="post">
    <button class="delete-button" type="button"><img src="/images/trash-icon.png" alt="trash icon"/></button>
  </form>

  <form action="{{user.id}}" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" value="{{user.username}}"><br>
    <p>Created on {{user.created_at}}</p>
    <p>Updated on {{user.updated_at}}</p>
    <button id="submit-button" class="button" type="submit">Save Changes</button>
  </form>

  <div class="center-button">
    <a href="/users/{{user.id}}/password">
      <button class="small-button">Change Password</button>
    </a>
  </div>

  <div class="center-button">
    <a href="/users/logout">
      <button class="small-button">Logout</button>
    </a>
  </div>

  {{#each messages}}
  <div id="message">{{this}}</div>
  {{/each}}
  
  {{#if error}}
  <div id="error-message">{{error}}</div>
  {{/if}}
</main>

{{> confirm_on_delete}}
